{% extends 'base.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modifier l'annonce : {{ annonce.title }}</h1>
        {#{ form(form) }#}
        {{ form_start(form) }}
        {{ form_widget(form) }}


        <button type="submit" class="btn btn-primary">Modifier l'annonce</button>

        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/custom.js"></script>
{% endblock %}
